#site-footer {
	@extend .padding-top-big;
	@extend .padding-bottom-small;
	@extend .bg-default;
	color: #fff;
	a { color: #fff; }
	a:visited { @extend .additional-2; }
	a:hover,
	a:active,
	a:focus {
	  @extend .accent-2;
	}
	#footer-row-2 {
		padding-top: 30px;
		border-top: 1px solid #fff;
	}
	#footer-row-3 { @extend .padding-top-big; }
	.footer-list-wrapper { max-width: calc(100% - 132px); }
	.upper-footer-block-wrapper {
		margin-right: -25px;
		margin-left: -25px;
	}
	.upper-footer-block {
		margin: -3px 25px 25px;
		h3.title {
			margin-bottom: 15px;
			text-transform: none;
			@extend .accent;
		}
		.follow-btn-styled + div {
		    position: absolute!important;
		    right: -999999px;
		    opacity: 0!important;
		}
		.social,
		.social:focus {
			padding-left: 28px;
			opacity: 0.7;
		}
		.social:hover,
		.social:active {
			opacity: 1;
			color: #fff;
		}
		.social:before {
			//content: '';
			@extend .icon:before;
			@extend .block-vert-c;
			left: 0;
			width: 16px;
			line-height: 1;
			color: #fff;
			text-align: center;
		}
		.facebook:before {
			@extend .icon-fb:before;
			height: 16px;
			line-height: 16px;
		}
		.youtube:before {
			@extend .icon-youtube:before;
			height: 11px;
			font-size: 11px;
		}
		.linkedin:before {
			@extend .icon-linkedin:before;
			height: 15px;
			font-size: 15px;
		}
		.instagram:before {
			@extend .icon-instagram:before;
			height: 16px;
			font-size: 16px;
		}
	}
	.footer-company-address,
	.footer-contacts {
		li { @extend .p; }
	}
	.footer-follow-us {
		li { line-height: 1; } 
	}
	.footer-site-logo,
	.footer-site-logo img {
		max-width: 82px;
		margin-top: 0;
	}
	.footer-logo-2nd,
	.footer-logo-2nd img {
	//	max-width: 135px;
	}
	.footer-logo-2nd { margin-right: 21px; }
	#upb-logo-link > img {
		width: 136px;
		height: 46px;
	}
	.footer-company-list-wrapper {
		max-width: calc(100% - 155px);
		padding-left: 20px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			border-left: 1px solid #fff;
		}
		.footer-company-list {
			flex-wrap: wrap;
			margin-bottom: -10px;
			margin-right: -28px;
			#aile-group {
				width: 117px;
				height: 36px;
			}
			#rk-metals-group {
				width: 110px;
				height: 38px;
				margin-top: -2px;
			}
			#mb-betons-group {
				width: 118px;
				height: 36px;
			}
			#upb-energy-group {
				width: 119px;
				height: 36px;
			}
			#upb-nams-group {
				width: 105px;
				height: 36px;
			}
		}
		.footer-company-block {
			margin-right: 28px;
			margin-bottom: 10px;
			line-height: 1;
			img {
				max-width: none;
				max-height: none;
			}
		}
	}
	.footer-services-wrapper {
		margin-top: 10px;
		margin-right: -18px;
		margin-left: -19px;
		#engineering > img {
			width: 134px;
			height: 8px;
		}
		#production > img {
			width: 124px;
			height: 8px;
		}
		#delivery > img {
			width: 95px;
			height: 8px;
		}
		#assembly > img {
			width: 100px;
			height: 8px;
		}
		#service > img {
			width: 82px;
			height: 8px;
		}
		.footer-service-block {
			padding-right: 18px;
			padding-left: 18px;
			border-right: 1px solid #fff;
			font-size: 0;
			line-height: 1;
			&:last-of-type { border-right: 0 solid transparent; }

		}
	}
	#footer-row-3 {
		margin-right: calc(-15px -50px);
		.developer,
		.copyright {
			margin-right: 50px;
			line-height: 1;
		}
	}
	.developer {
		margin-left: auto;
		.developer-text { margin-right: 8px; }
	}
	.developer:hover,
	.developer:active,
	.developer:focus,
	.developer:visited {
		color: #fff;
	}
}
.get-directions {
	padding-left: 15px;
	text-decoration: none;
	color: #E2231A!important;
}
.get-directions .before {
	@extend .block-vert-c;
	&:before {
		@extend .icon:before;
		@extend .icon-directions:before;
		@extend .block-vert-c;
		font-size: 14px;
		line-height: 1;
		@extend .accent-2;
	}
	left: 0;
	width: 10px;
	height: 14px;
	text-decoration:none!important;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		text-decoration: none!important;
	}
}
.get-directions:hover,
.get-directions:active {
	text-decoration: underline;
	.get-directions {
		text-decoration: none!important;
		&:before { text-decoration: none!important; }
	}
}

@media (max-width: 1199px) {
	#site-footer {
		.footer-list-wrapper {
			flex-wrap: wrap;
			.footer-company-address { order: 1; }
			.footer-contacts { order: 3; }
			.footer-follow-us {
				order: 2;
			}
		}
		.footer-logo-2nd { margin-right: 15px; }
		.footer-company-list-wrapper {
			padding-left: 15px;
			.footer-company-list { margin-right: -20px; }
			.footer-company-block {
				margin-right: 20px;
				img {
					//max-width: 100%;
					//max-height: 100%;
				}
			}
		}
		.footer-services-wrapper {
			margin-right: -14px;
			margin-left: -13px;
			.footer-service-block {
				padding-right: 14px;
				padding-left: 13px;
			}
		}
	}
}

@media (max-width: 767px) {
	#site-footer {
		#footer-row-2 { display: none; }
		#footer-row-3 {
			flex-wrap: wrap;
			padding-top: 0;
			.copyright,
			.developer {
				width: 100%;
			}
			.developer { margin-left: 0; }
		}
		.upper-footer-block-wrapper { flex-wrap: wrap; }
		.footer-list-wrapper,
		.upper-footer-block {
			max-width: 100%;
			width: 100%;
		}
		.footer-list-wrapper {
			.footer-follow-us {
				ul {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					margin-right: -30px;
					li { margin-right: 30px; }
				}
			}
		}
		.upper-footer-block {
			margin-bottom: 15px;
			h3.title { margin-bottom: 5px; }
		}
		.footer-site-logo { margin-bottom: 20px; }
		.footer-list-wrapper {
			.footer-company-address { order: 1; }
			.footer-contacts { order: 2; }
			.footer-follow-us { order: 3; }
		}
	}
}

@media (max-width: 479px) {
	#site-footer .footer-list-wrapper .footer-follow-us ul li {
		width: calc(40% - 30px);
	}
}

// Contact form
.contact-form-outer {
	@extend .flex-hor-c;
	@extend .z-1000;
	position: fixed;
	bottom: 75px;
	right: 22px;
	box-shadow: 2px 2px 6px 0 rgba(35,31,32,0.4);
}

.contact-form-wrapper {
	width: 300px;
	padding: 12px 30px 0 30px;
	// padding-bottom: 18px;
	margin-top: auto;
	margin-bottom: auto;
	border: 1px solid #787C82;
	background-color: #fff;
	.title { margin-bottom: 2px; }
	.notification-text {
		margin-bottom: 10px;
		line-height: 17px;
	}
	.required-fields {
		margin-top: -15px;
		font-size: 12px;
	}
	.wpcf7-recaptcha {
		margin-top: 5px;
		transform: scale(0.79);
		transform-origin: 0 0;
	}
	input[type="submit"].btn {
		padding: 10.5px 10px!important;
		margin-top: 10px;
		height: 35px!important;
		line-height: 14px!important;
		font-size: 14px;
		border: 0 solid transparent!important;
	}
	@media(max-width: 1199px) {
		input[type="submit"].btn {
			padding: 12px 10px 9px!important
		}
	}

	.company-fax-wrap + br { display: none; } // Honeypot anti-spam
}
.contact-form-btn {
	position: fixed;
	bottom: 20px;		
	right: 20px;
	width: 40px;
	height: 40px;
	@extend .z-9;
	&:before {
		@extend .icon:before;
		@extend .icon-cf-open:before;
		@extend .block-c;
		@extend .z-9;
		width: 20.4px;
		height: 16px;
		font-size: 16px;
		line-height: 1;
		color: #fff;
	}
	&:after {
		content: '';
		@extend .block-fit-parent;
		background-color: #B6B4B5;
	}
}
.contact-form-outer.hidden+.contact-form-btn {
	&:after { opacity: 0.7; }
}
.contact-form-outer+.contact-form-btn:hover,
.contact-form-outer+.contact-form-btn:active {
	&:after { opacity: 1!important; }
}

.contact-form-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	&:before {
		//content: '';
		@extend .icon:before;
		@extend .icon-cf-close:before;
		position: absolute;
		display: block;
		top: 5px;
		right: 5px;
		bottom: auto;
		left: auto;
		width: 11.5px;
		height: 11.5px;
		font-size: 11.5px;
		line-height: 1;
		@extend .default;
	}
}
.contact-form-close:hover,
.contact-form-close:active {
	&:before {
		@extend .accent-2;
	}
}

@media (max-width: 1199px) {
	.contact-form-btn:after { opacity: 0.7; }
}

@media (max-width: 767px) {
	/*.contact-form-outer {
		position: absolute;
		top: -75px;
		right: 22px;
		transform: translateY(-100%);
	}
	.contact-form-btn {
		position: absolute;
		top: -20px;
		bottom: auto;
		transform: translateY(-100%);
	}*/
	.contact-form-open {
		.contact-form-outer {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: none;
			width: 100vw;
			height: 100vh;
			padding: 5px;
			overflow-y: auto;
		}
		#body-wrapper:after {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(35,31,32,0.7);
			z-index: 999;
		}
		#site-footer { z-index: initial; }
	}
}