
// Site Header
#site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	transition: opacity 0.25s ease-in-out;
	& > .container > .row { transition: height 0.25s ease-in-out; }
	#main-site-logo,
	#main-site-logo img {
		//old width: 111px;
		//old height: 80px;
		width: 74px;
		height: 53px;
		transition: 0.1s ease-in-out, max-height 0.25s ease-in-out, height 0.25s ease-in-out, width 0.25s ease-in-out;
		transition-delay: 0s!important;	
	}
	#main-site-logo { margin-right: 45px; }
	.wrapper-for-mobile-menu { flex-grow: 1; }
	#mobile-menu-icon {
		display: none;
		padding: 10px;
		margin-right: -10px;
		margin-left: auto;
		position: relative;
		.inner {
			width: 27px;
			height: 21px;
		}
		span {
		  display: block;
		  position: absolute;
		  height: 3px;
		  width: 100%;
		  @extend .bg-default;
		  opacity: 1;
		  left: 0;
		  transform: rotate(0deg);
		  transition: 0.2s ease-in-out;
		  border-radius: 1.5px;
		}
		span:nth-of-type(1) { top: 0px; }
		span:nth-of-type(2),
		span:nth-of-type(3) {
			top: 9px;
		}
		span:nth-of-type(4) { top: 18px; }
	}
	#mobile-menu-icon.open {
		span:nth-of-type(1),
		span:nth-of-type(4) {
		  opacity: 0;
		}
		span:nth-of-type(1) { transform: translate(0px,9px) scale(0.1); }
		span:nth-of-type(4) { transform: translate(0px,-9px) scale(0.1); }
		span:nth-of-type(2) { transform: rotate(45deg); }
		span:nth-of-type(3) { transform: rotate(-45deg); }
	}

	.nav ul,
	.nav ul ul {
		list-style-type: none;
	}
	.header-menu { 
		@extend .flex-vert-c;
		margin-right: 50px;
		margin-left: 50px;
		.sub-menu {
			display: none;
			li { border-bottom: 3px solid #231f20; }
			li:last-of-type { border-bottom: 0 solid transparent; }
		}
		li .menu-item-has-children > a:hover + .sub-menu,
		li li .sub-menu:hover {
			display: block;
		}
		li {
			a {
				@extend .flex-vert-c;
				//old height: 136px;
				height: 90px;
				padding: 0 29px;
				transition: 0.1s ease-in-out, height 0.25s ease-in-out;
				transition-delay: 0s!important;
				@extend .h3;
				@extend .default;
				@extend .text-decor-none;
			}
			a:after {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				right: 9px;
				left: 9px;
				height: 6px;
				max-width: 0;
				@extend .bg-default;
				transition: max-width 0.4s ease-in-out;
			}
			.menu-item-has-children-ghost {
				@extend .visuallyhidden;
				@extend .z-99;
			}
		}
		li > a:hover:after,
		li > a:active:after,
		li.current-menu-item > a:after,
		li.current-menu-ancestor > a:after {
			max-width: 100%;
		}
		li:first-of-type a { padding-left: 18px; }
		li.menu-item-has-children.current-menu-item > a:after,
		li.menu-item-has-children.current-menu-ancestor > a:after {
			content: ''!important;
		}
		li.menu-item-has-children.current-menu-ancestor .current-menu-item > a:after,
		li.menu-item-has-children.current-menu-ancestor .current-menu-ancestor > a:after {
			content: none!important;
		}	
		li.menu-item-has-children {
			//a { transition: 0.4s ease-in-out, height 0.25s ease-in-out; }
			//&:hover,
			//&:active,
			&:hover a,
			&:active a,
			a:hover,
			a:active {
				color: #fff;
				@extend .bg-default;
			}
			a:after { content: none!important; }
			a:before {
				//content: '';
				@extend .icon:before;
				@extend .icon-arrow-down:before;
				@extend .block-vert-c;
				right: 16px;
				left: auto;
				width: 7.5px;
				height: 4px;
				font-size: 4px;
				line-height: 1; 
				@extend .default;
			}
			&:hover a:before,
			&:active a:before, 
			a:hover:before,
			a:active:before {
				color: #fff;
			}
		}
		// First and Second level sub-menu
		li > .sub-menu {
			position: absolute;
			top: auto;
			right: auto;
			bottom: 0.5px;
			left: 0;
			transform: translateY(100%);
			padding: 3px;
			@extend .bg-default;
			li a {
				width: 232px;
				height: 36px;
				padding-right: 25px;
				padding-left: 15px;
				color: #fff;
				&:hover {
					@extend .default;
					@extend .bg-accent;
				}
				&:before { content: none; }
			}
			li.menu-item-has-children {
				a:before {
					//content: '';
					@extend .icon:before;
					@extend .icon-arrow-right:before;
					@extend .block-vert-c;
					right: 10px;
					left: auto;
					width: 4px;
					height: 7.5px;
					font-size: 7.5px;
					line-height: 1;
					color: #fff;
				}
				a:hover:before,
				a:active:before {
					@extend .default;
				}
			}
		}
		// Second level sub-menu
		li li > .sub-menu {
			position: absolute;
			top: -3px;
			right: 0;
			bottom: auto;
			left: auto;
			width:  calc(232px + 3px + 3px);
			transform: translateX(100%);
			li { width: 232px; }
			li a:before { content: none!important; }
		}
	}
	.lang-switcher-wrapper {
		margin-right: -10px;
		margin-left: auto;
	}
	.lang-switcher {
		display: inline-block;
		a {
			padding: 10px;
			@extend .h3;
			@extend .additional-2;
			@extend .text-decor-none;
		}
		a.active,
		a:hover,
		a:active {
			@extend .default;
		}
	}
}

// Site Header style when scrollTop position of the document is not 0
.not--top #site-header {
	box-shadow: 0 2px 6px 0px rgba(35,31,32,0.4);
	#main-site-logo,
	#main-site-logo img {
		//old width: 74px;
		//old height: 53px;
		width: 55.7px;
		height: 40px;
	}
	#main-site-logo { width: 74px!important; }
	.header-menu li a {
		//old height: 90px;
		height: 56px;
	}
}

// Breadcrumbs
.breadcrumbs-wrapper {
	height: 50px;
	margin-right: -14px;
	margin-left: -18px;
	@extend .h5;
	color: #787c82!important;
	a,
	a:hover,
	a:active,
	a:focus,
	a:visited {
		color: #787c82!important;
	}
	h5,
	.h5 {
		margin-right: 14px;
		padding-left: 18px;
	}
	h5:before,
	.h5:before {
		//content: '';
		@extend .icon:before;
		@extend .icon-bc-arrow:before;
		@extend .block-vert-c;
		left: 0;
		right: auto;
		width: 4px;
		height: 6px;
		font-size: 6px;
		line-height: 1;
		color: #787c82!important;
	}
	a.h5 { text-decoration: underline; }
	a.h5:first-of-type:before { content: none; }
}

@media (max-width: 1199px) {
	#site-header > .container > .row { height: 90px; }
	.not--top #site-header > .container > .row { height: 56px; }
	#site-header {
		box-shadow: 0 8px 6px -6px rgba(35,31,32,0.4);
		.wrapper-for-mobile-menu {
			position: absolute;
			display: none;
			bottom: 0;
			left: 50%;
			transform: translate(-50%,100%);
			width: 100vw;
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: #231f20;
			max-height: calc(100vh - 90px);
    		overflow-y: auto;
			.inner {
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}
		}
		.nav {
			left: 50%;
			transform: translateX(-50%);
		}
		.header-menu,
		.lang-switcher-wrapper {
			width: 696px;	
		}
		.header-menu {
			flex-wrap: wrap;
			margin-right: 0;
			margin-left: 0;
			&>li { border-bottom: 1px solid #787C82; }
			li .menu-item-has-children > a:hover + .sub-menu,
			li li .sub-menu:hover {
				display: none;
			}
			li li .sub-menu {
				width: 100%;
				li { width: 100%; }
			}
			li.menu-item-has-children.current-menu-item > a:after,
			li.menu-item-has-children.current-menu-ancestor > a:after {
				content: none!important;
			}
			li.current-menu-item > a,
			li.current-menu-ancestor > a {
				color: #231f20!important;
				background-color: #f6c55b!important;
				&:before { color: #231f20!important; }
			}
			li:nth-of-type(n) {
				width: 100%;
				a {
					height: 50px;
					padding-right: 30px!important;
					padding-left: 10px!important;
					color: #fff;
					&:hover {
						color: #231F20;
						background-color: #F6C55B;
					}
					&:after { content: none!important; }				
				}
				.menu-item-has-children-ghost {
					pointer-events: initial!important;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}
			li.menu-item-has-children {
				a:before { color: #fff; }
				&:hover a:before,
				&:active a:before, 
				a:hover:before,
				a:active:before {
					color: #231f20;
				}
			}
			// First level sub-menu
			& > li > .sub-menu > li:first-of-type { border-top: 3px solid #231f20; }
			// First and Second level sub-menu
			li > .sub-menu {
				position: relative;
				transform: none;
				//padding: 10px 3px 8px 3px;
				padding: 0;
				// li { border-bottom: 0 solid transparent; }
				li > a { width: 100%; }
				li.menu-item-has-children {
					a:before {
						width: 7.5px;
						height: 4px;
						font-size: 4px;
						content: "\e900"; //arrow down
					}
				}
			}
			// Second level sub-menu
			li li > .sub-menu {
				position: relative;
				top: 0px;
				transform: none;
			}
		}
		.lang-switcher-wrapper {
			margin-right: 0;
			margin-left: 0;
			left: 50%;
			transform: translateX(-50%);
			a.active,
			a:hover,
			a:active {
				color: #f6c55b;
			}
		}
		#mobile-menu-icon { display: block; }
		#main-site-logo,
		#main-site-logo img {
			width: 74px;
			height: 53px;
		}
	}
	.breadcrumbs-wrapper { display: none; }
}

@media (max-width: 767px) {
	#site-header {
		.header-menu,
		.lang-switcher-wrapper {
			width: calc(100vw - 15px * 2);
		}
	}
}