#site-content {
	padding-top: 136px;
	padding-bottom: 36px;
}

@media (max-width: 1199px) {
	#site-content { padding-top: 90px; }
}

@media (max-width: 767px) {
	#site-content { padding-top: 25px; }
}

// Full Width Image/Video Block
.full-width-img-video-wrapper {
	width: 100%;
	height: 780px;
	padding-top: 230px;
	padding-bottom: 230px;
	color: #fff;
	overflow: hidden;
	.full-width-img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.editor-wrapper {
		width: 635px;
		margin-left: 110px;
	}
}
.full-width-img-video-wrapper.mega-size {
	height: 955px;
	padding-top: 295px;
	padding-bottom: 295px;
}

@media (max-width: 1199px) {
	.full-width-img-video-wrapper {
		.editor-wrapper {
			width: 100%;
			margin-left: 0;
		}
	}
	.full-width-img-video-wrapper.mega-size {
		height: 935px;
		padding-top: 195px;
		padding-bottom: 195px;
	}
}

@media (max-width: 767px) {
	.full-width-img-video-wrapper.mega-size {
		height: 537px;
		padding-top: 118px;
		padding-bottom: 118px;
	}
}

// Page Block
.page-block-wrapper {
	width: calc(100% + (10px + 4px) * 2);
	margin: -166px -14px -6px -14px;
}
.page-block {
	width: calc((100% / 3) - (10px * 2));
	height: 284px;
	padding: 34px 40px;
	margin: 0 10px;
	color: #fff;
	border: 4px solid #fff;
	.full-width-img { @extend .block-fit-parent; }	
}
.page-block:after {
	content: '';
	@extend .block-fit-parent;
	background-color: rgba(35,31,32,0.5);
	transition: background-color 0.25s ease-in-out;
}
.page-block:hover:after,
.page-block:active:after {
	background-color: rgba(35,31,32,0.8);
}
.page-block:hover,
.page-block:active,
.page-block:focus,
.page-block:visited {
	color: #fff;
}

@media (max-width: 1199px) {
	.page-block-wrapper {
		width: calc(100% + (15px + 3px + 30px) * 2);
		margin: -100px -48px 0;
	}
	.page-block {
		width: calc((100% / 3) - (15px * 2px));
		height: 144px;
		padding: 20px;
		margin: 0 15px;
		border: 3px solid #fff;
	}
}

@media (max-width: 767px) {
	.page-block-wrapper {
		width: calc(100% - (3px * 2));
		margin: -102px -3px 0;
	}
	.page-block {
		width: 100%;
		height: 68px;
		padding: 5px 20px;
		margin: 0;
		display: flex;
		align-items: center;	
	}
}

// Service Block
.service-section {
	text-align: center;
	h1.title { margin-bottom: 10px; }
}
.service-block-wrapper {
	width: calc(100% + 15px * 2);
	margin: 35px -15px -15px;
}
.service-block {
	width: calc((100% / 4) - 15px * 2);
	height: 200px;
	padding: 34px 40px;
	margin: 15px;
	color: #fff;
	text-align: left;
	.full-width-img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	h2.title { margin-bottom: 10px; }
	.page-children-list,
	.page-excerpt-wrapper {
		opacity: 0;
		transition: opacity 0.25s ease-in-out;
	}
	.page-children-list,
	.page-excerpt-wrapper {
		li {
			@extend .h3;
			text-transform: none;
			color: #231f20;
		}
		li.more { color: #C48D20; }
	}
}
.service-block:after {
	content: '';
	@extend .block-fit-parent;
	background-color: rgba(35,31,32,0.5);
	transition: background-color 0.25s ease-in-out;
}
.service-block:focus,
.service-block:visited {
	color: #fff;
}
.service-block:hover,
.service-section:active {
	color: #231f20;
	.page-children-list,
	.page-excerpt-wrapper {
		opacity: 1;
	}
}
.service-block:hover:after,
.service-block:active:after {
	@extend .bg-accent;
}


// News Block
.home .news-section {
	margin-top: -100px;
	h1.title {
		width: 526px;
		margin-bottom: 40px;
	}
}
.news-section > .container > .row.flex { flex-wrap: wrap; }
.news-section {
	.load-more,
	.btn {
		margin-right: auto;
		margin-left: auto;
	}
}
.news-block-wrapper {
	width: calc(100% + 15px * 2);
	margin: -15px;
}
.news-block {
	width: calc((100% / 3) - 15px * 2);
	height: 275px;
	padding: 20px 108px 20px 20px;
	margin: 15px;
	@extend .flex;
	.full-width-img { @extend .block-fit-parent; }
	.title-and-date {
		width: 286px;
		padding: 10px;
		margin-top: auto;
		background-color: #fff;
	}
	.shape-right-cut {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: auto;
		transform: translateX(100%);
		width: 27px;
		overflow: hidden;
		.shape-right {
			position: absolute;
			display: block;
			top: 23px;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #fff;
		}
		.shape-upper {
			position: absolute;
			display: block;
			top: 0;
			right: auto;
			bottom: auto;
			left: 0;
			transform-origin: 0 0;
			transform: rotate(40deg);
			width: 100vw;
			height: 100vw;
			background-color: #fff;
		}
	}
	.news-post-date {
		margin-top: 6px;
		line-height: 1;
		@extend .additional;
	}
}
.news-block.video:after,
.news-block.image:after {
	content: none;
}
.news-block:hover,
.news-block:active,
.news-block:focus,
.news-block:visited {
	@extend .default;
}

@media (max-width: 1199px) {
	.home .news-section {
		margin-top: 40px;
		h1.title { display: none; }
	}
	.home .news-block:last-of-type { display: none; }
	.news-block {
		width: calc(50% - (15px * 2));
		height: 200px;
		padding: 15px 79px 15px 15px;
		.title-and-date {
			padding: 6px;
			.title { font-size: 13px; }
			.news-post-date { font-size: 11px; }
		}
		.shape-right-cut { width: 22px; }
	}
}

@media (max-width: 767px) {
	.home .news-section {
		margin-top: 25px;
		h1.title {
			display: block;
			margin-bottom: 15px;
		}
	}
	.home .news-block:last-of-type { display: flex; }
	.news-block {
		width: 100%;
		height: 216px;
	}
}

// Slider and Gallery Wrapper
.slider-and-gallery-wrapper { width: 606px; }

// Image Slider Block
.slider-wrapper {
	.lSSlideOuter { width: 606px!important; }	
	.lSSlideWrapper {
		margin-bottom: 0;
		box-shadow: none;
		border: 0 solid transparent;
		width: 606px;
		height: 403px;
	}
	.lightslider,
	.lightslider-item {
		height: 100%!important;
	}
	.lSAction {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}
}

// Gallery Title Block
.gallery-title-block-wrapper { z-index: 999; }

// Gallery Image Block
.gallery-img-block {
	width: calc(100% + 15px * 2);
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery-img-block-item {
	width: calc((100% / 4) - 15px * 2);
	height: 200px;
	margin: 15px;
}

// Who We Are Block
.who-we-are-wrapper {
	margin-top: 90px;
	@extend .margin-bottom-big;
	width: 526px;
	.title { margin-bottom: 32px; }
	.btn { margin-top: 42px; }
}

@media (max-width: 1199px) {
	.who-we-are-wrapper {
		width: 100%;
		margin-top: 30px;
		.title { margin-bottom: 22px; }
		.btn { margin-top: 32px; }
	}
}

@media (max-width: 767px) {
	.who-we-are-wrapper {
		margin-top: 18px;
		.title { margin-bottom: 10px; }
		.btn { margin-top: 20px; }
	}
}

// Advanced Google Maps
.advanced-google-maps-wrapper {
	//width: calc(100% - 525px + 110px);
	//margin-left: -110px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	.gradient {
		position: absolute;
		z-index: 6;
	}
	.gradient-top {
		top: -1px;
		right: 0;
		left: 0;
		width: 100%;
		height: 76px;
		background: scrim-gradient(
		    to bottom,
		    #fff,
		    transparent
	  	);
	}
	.gradient-bottom {
		right: 0;
		bottom: -1px;
		left: 0;			
		width: 100%;
		height: 76px;
		background: scrim-gradient(
		    to top,
		    #fff,
		    transparent
	  	);			
	}
	.gradient-left {
		top: 0;
		bottom: 0;
		left: 0;
		width: 662px;
		background: #fff;
	}
	.gradient-left:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 1px;
		transform: translateX(100%);
		width: 316px;
		background: scrim-gradient(
		    to right,
		    #fff,
		    transparent
	  	);
	  	z-index: 9;			
	}	
	.acf-map {
		height: 834px;
		img, .img {
			max-height: none!important;
		}
	}
}
.home #section-3 { min-height: 834px; }
.about-us .advanced-google-maps-wrapper {
	position: relative;
	.gradient-left { display: none; }
	.gradient-bottom { display: none; }
}

@media (max-width: 1199px) {
	.advanced-google-maps-wrapper {
		position: relative;
		.gradient-top { height: 58px; }
		.gradient-bottom { height: 58px; }
		.gradient-left { display: none; }
		.acf-map { height: 638px; }
	}
}

// Contacts Map Wrapper
.contacts-map-wrapper {
	width: 606px;
	height: 403px;
}

// Title and Content Block
.title-and-content {
	width: calc(100% - 606px);
}

// Content Width Video
.no-autoplay { opacity: 1!important; }
.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 20px;
	height: 20px;
	background: black;
}
.cw-video-wrapper {
	height: 730px;
	margin-top: 50px;
	margin-bottom: 50px;	
}

// 404 Error
.error404 #site-header,
.error404 #site-header.headroom--top {
	background-image: linear-gradient( 27deg, rgb(0,18,32), rgb(18,99,133) );
	padding-top: 40px;
	padding-bottom: 40px;
	.header-logo > a {
		height: 70px;
		margin-top: -21.5px;
		margin-bottom: -21.5px;
		img { max-height: 70px; }
	}	
}
.error404 {
	main {
		@extend .flex-c-column;
		flex-grow: 1;
		margin-top: 107px;
		section,
		.container,
		.row {
			@extend .h-100;
		}
	}
	#post-404 {
		width: 406px;
		height: 564px;
		margin-bottom: 50px;
		text-align:center;
	}
	.btn {
  		background-image: linear-gradient( 27deg, rgb(26,25,31), rgb(148,157,148) )!important;
		min-width:219px;
		text-align:center;
		padding-top:18px;
		padding-bottom:20px;
		margin:auto;
		border: 2px solid #fff;
		border-radius: 7px;
		overflow: hidden;
		text-decoration: none;		
		font-size:16px;
		color:white;
		transition: .5s;
		transition-property: initial;
		transition-duration: 0.5s;
		transition-timing-function: initial;
		transition-delay: initial;
	}
	a.btn { text-decoration:none; }
	.btn:hover { opacity: 0.7; }
	li:hover { opacity: 0.5; }
	h1 {
		// font-family:Roboto thin, sans-serif;
		font-size:39px;
		color:#999999;
		margin-top:0px;
	}
	p {
		// font-family:roboto light, sans-serif;
		font-size:16px;
		color:#999999;
		margin-top:48px;
		margin-bottom:49px;
		line-height:25px;
	}	
}

@media (max-width: 479px) {
	.error404 {
		main > section { width: calc(100% - 15px * 2); }
		#post-404 {
			width: 100%;
			h1 { 
				margin-top: -20px;
				margin-bottom: -20px;
			}
		}
		#post-404 > svg { width: 100% }
	}
}