#site-content,
.error404.not--top #site-content {
	//old padding-top: 136px;
	padding-top: 90px;
	padding-bottom: 36px;
	transition: padding-top 0.25s ease-in-out;
}
// .not--top #site-content { padding-top: 90px; }

@media (max-width: 1199px) {
	#site-content { padding-top: 90px; }
}

// Full Width Image/Video Block
.full-width-img-video-wrapper {
	width: 100%;
	// old height: calc(780px + 46px);
	// old padding-top: calc(230px + 46px);
	// old padding-bottom: 230px;
	// old margin-top: -46px;
	height: calc(600px + 34px);
	padding-top: calc(174px + 34px);
	padding-bottom: 174px;
	margin-top: -34px;
	color: #fff;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
	.full-width-img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.on-top-content-wrapper {
		width: 635px;
		margin-left: 110px;
	}
}
.open-popup-video-btn {
	padding-left: 42px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #fff;
	line-height: 34px;
	&:before {
		@extend .icon:before;
		@extend .icon-popup-play:before;
		@extend .block-vert-c;
		right: auto;
		left: 0;
		font-size: 34px;
		@extend .accent;
	}
}
.full-width-img-video-wrapper.mega-size {
	height: calc(955px + 46px);
	max-height: calc(100vh - 56px);
	//padding-top: 295px;
	//padding-bottom: 295px;	
}
.full-width-img-video-wrapper:after {
	content: '';
	@extend .block-fit-parent;
	background-color: rgba(35,31,32,0.5);
}

@media (max-width: 1199px) {
	.full-width-img-video-wrapper {
		height: 700px;
		padding-top: 190px;
		padding-bottom: 190px;
		.on-top-content-wrapper {
			width: 100%;
			margin-left: 0;
		}
	}
	.full-width-img-video-wrapper.mega-size {
		height: 935px;
		max-height: calc(100vh - 56px);
		//padding-top: 195px;
		//padding-bottom: 195px;
	}
}

@media (max-width: 767px) {
	.full-width-img-video-wrapper {
		height: 480px;
		padding-top: 85px;
		padding-bottom: 85px;
		.on-top-content-wrapper {
			.open-popup-video-btn {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
	.full-width-img-video-wrapper.mega-size {
		height: 537px;
		max-height: none;
		//padding-top: 118px;
		//padding-bottom: 118px;
	}
}

// Page Block
.page-block-wrapper {
	width: calc(100% + (10px + 4px) * 2);
	margin: -166px -14px -6px -14px;
}
.page-block {
	width: calc((100% / 3) - (10px * 2));
	height: 284px;
	padding: 34px 40px;
	margin: 0 10px;
	color: #fff;
	border: 4px solid #fff;
	.full-width-img { @extend .block-fit-parent; }	
}
.page-block:after {
	content: '';
	@extend .block-fit-parent;
	background-color: rgba(35,31,32,0.5);
	transition: background-color 0.25s ease-in-out;
}
.page-block:hover:after,
.page-block:active:after {
	background-color: rgba(35,31,32,0.8);
}
.page-block:hover,
.page-block:active,
.page-block:focus,
.page-block:visited {
	color: #fff;
}

@media (max-width: 1199px) {
	.page-block-wrapper {
		width: calc(100% + (15px + 3px + 30px) * 2);
		margin: -100px -48px 0;
	}
	.page-block {
		width: calc((100% / 3) - (15px * 2px));
		height: 144px;
		padding: 20px;
		margin: 0 15px;
		border: 3px solid #fff;
	}
}

@media (max-width: 767px) {
	.page-block-wrapper {
		width: calc(100% - (3px * 2));
		margin: -107px -3px 0;
	}
	.page-block {
		width: 100%;
		height: 65px;
		border-top: 0 solid transparent;
		padding: 5px 20px;
		margin: 0;
		display: flex;
		align-items: center;	
	}
	.page-block:first-of-type {
		height: 68px;
		border-top: 3px solid #fff;
	}
}

// Service Block
.service-section {
	text-align: center;
	h1.title {
		margin-top: -10px;
		margin-bottom: 10px;
	}
}
.service-block-wrapper {
	width: calc(100% + 15px * 2);
	margin: 27px -15px -15px;
}
.service-block-outer {
	width: calc((100% / 4) - 15px * 2);
	margin: 15px;
	.service-block-inner { padding-top: 66.5%; }
	.service-block {
		@extend .block-fit-parent;
		position: absolute!important;
		padding: 30px 38px;
		color: #fff;
		text-align: left;
		.full-width-img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		h2.title { margin-bottom: 12px; }
		.page-children-list,
		.page-excerpt-wrapper {
			opacity: 0;
			transition: opacity 0.25s ease-in-out;
		}
		.page-children-list,
		.page-excerpt-wrapper {
			li {
				@extend .h3;
				text-transform: none;
				color: #231f20;
			}
			li.more { color: #C48D20; }
		}
	}
}

@media (max-width: 1361px) and (min-width: 1200px) {
	.service-block-outer .service-block {
		padding: 16px 25px;
	}
}

.service-block:after {
	content: '';
	@extend .block-fit-parent;
	background-color: rgba(35,31,32,0.5);
	transition: background-color 0.25s ease-in-out;
}
.service-block:focus,
.service-block:visited {
	color: #fff;
}
.service-block:hover,
.service-section:active {
	color: #231f20;
	.page-children-list,
	.page-excerpt-wrapper {
		opacity: 1;
	}
}
.service-block:hover:after,
.service-block:active:after {
	@extend .bg-accent;
}

@media (max-width: 1199px) {
	.service-section {
		h1.title { margin-top: 35px; }
	}
	.service-block-wrapper {
		margin-top: 20px;
		justify-content: flex-start;
	}
	.service-block-outer {
		width: calc(50% - 15px * 2);
	}
}

@media (max-width: 767px) {
	.service-section {
		h1.title { margin-top: 20px; }
	}
	.service-block-wrapper {
		width: 100%;
		margin: 7.5px 0 -7.5px;
	}
	.service-block-outer {
		width: 100%;
		margin: 7.5px 0;
	}
}

// Full Screen Site Title and Content Block
.full-section {
	h1.title {
		margin-top: -10px;
		margin-bottom: 12px;
	}
	h1.title.margin-big { margin-bottom: 18px; }
	.editor-wrapper { margin-bottom: 42px; }
}

@media (max-width: 1199px) {
	.full-section {
		h1.title { margin-top: 35px; }
		.editor-wrapper { margin-bottom: 35px; }
	}
}

@media (max-width: 767px) {
	.full-section {
		h1.title { margin-bottom: 20px; }
	}
}

// News Block
.home .news-section {
	margin-top: -100px;
	h1.title {
		width: 526px;
		margin-bottom: 40px;
	}
	.btn {
		margin-right: auto;
		margin-left: auto;
	}
}
.single-news_posts .go-back { margin-top: 36px; }
.news-section > .container > .row.flex { flex-wrap: wrap; }
.news-block-wrapper {
	width: calc(100% + 15px * 2);
	margin: -15px;
}
.news-block-outer:last-of-type { display: none; }
.show-all-news .news-block-outer:last-of-type { display: block; }
.home .news-block-outer:last-of-type { display: block; }
.news-block-outer {
	width: calc((100% / 3) - 15px * 2);
	margin: 15px;
	.news-block-inner { padding-top: 66.5%; }
	.news-block {
		@extend .flex;
		@extend .block-fit-parent;
		padding: 20px 108px 20px 20px;
		.full-width-img { @extend .block-fit-parent; }
		.title-and-date {
			width: 286px;
			padding: 10px;
			margin-top: auto;
			background-color: #fff;
			align-self: flex-end;
		}
		.shape-right-cut {
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: auto;
			transform: translateX(100%);
			width: 27px;
			overflow: hidden;
			.shape-right {
				position: absolute;
				display: block;
				top: 23px;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: #fff;
			}
			.shape-upper {
				position: absolute;
				display: block;
				top: 0;
				right: auto;
				bottom: auto;
				left: 0;
				transform-origin: 0 0;
				transform: rotate(40deg);
				width: 100vw;
				height: 100vw;
				background-color: #fff;
			}
		}
		.news-post-date {
			margin-top: 6px;
			line-height: 1;
			@extend .additional;
		}
	}
}
.news-block.video:after,
.news-block.image:after {
	content: none;
}
.news-block:hover,
.news-block:active,
.news-block:focus,
.news-block:visited {
	@extend .default;
}
.news-block:after {
	content: ''!important;
	@extend .block-fit-parent;
	transition: background-color 0.25s ease-in-out;
}
.news-block:hover:after,
.news-block:active:after {
	background-color: rgba(35,31,32,0.2);
}

@media (max-width: 1199px) {
	.home .news-section {
		margin-top: 40px;
		h1.title { display: none; }
	}
	.home .news-block-outer:last-of-type { display: none; }
	.news-block-wrapper {
		justify-content: flex-start;
		width: calc(100% + (10px * 2));
		margin: -10px;
	}
	.news-block-outer:last-of-type { display: block; }
	.news-block-outer {
		width: calc(50% - (10px * 2));
		margin: 10px;
		//height: 200px;
		.news-block {
			padding: 15px 79px 15px 15px;
			.title-and-date {
				padding: 6px;
				.title { font-size: 13px; }
				.news-post-date { font-size: 11px; }
			}
			.shape-right-cut { width: 22px; }
		}
	}
}

@media (max-width: 767px) {
	.home .news-section {
		margin-top: 25px;
		h1.title {
			display: block;
			margin-bottom: 15px;
		}
		.editor-wrapper { margin-bottom: 15px; }
	}
	.home .news-block-outer:last-of-type { display: block; }
	.news-block-wrapper {
		width: 100%;
		margin: -7.5px 0;
	}
	.news-block-outer {
		width: 100%;
		margin: 7.5px 0;
	}
}

// Slider and Gallery Wrapper
.slider-and-gallery-wrapper {
	.gallery-img-block {
		width: calc(606px + (15px * 2));
		margin-top: 15px;
		margin-right: calc(60px - 15px);
		margin-bottom: -15px;
		margin-left: -15px;
	}
	.gallery-img-block-item-wrapper {
		width: calc((100% / 3) - (15px * 2));
		margin: 15px;
		border: 1px solid #787C82;
		line-height: 1;
		.gallery-img-block-item {
			display: block;
			line-height: 1;
			width: 100%;
			padding-top: 126%;
			@extend .text-decor-none;
			@extend .z-6;
			&>img,
			&>div {
				@extend .z--1;
			}
		}
		.gallery-img-block-item:before,
		.gallery-img-block-item:after {
			transition: opacity 0.25s ease-in-out;
			opacity: 0;
		}
		.gallery-img-block-item:before {
			content: '';
			@extend .block-fit-parent;
			background-color: rgb(35,31,32);
		}
		.gallery-img-block-item:after {
			//content: '';
			@extend .icon:before;
			@extend .icon-center:before;
			@extend .block-c;
			width: 30px;
			height: 30px;
			font-size: 30px;
			@extend .accent;
		}
		.gallery-img-block-item:hover:before,
		.gallery-img-block-item:active:before {
			opacity: 0.5;
		}
		.gallery-img-block-item:hover:after,
		.gallery-img-block-item:active:after {
			opacity: 1;
		}
	}
}

@media (max-width: 1199px) {
	.slider-and-gallery-wrapper {
		width: 100%;
		.gallery-img-block {
			width: calc(100% + (15px * 2));
			margin-top: calc(40px - 15px);
			margin-right: -15px;
			margin-bottom: -15px;
			margin-left: -15px;
		}
	}
}

@media (max-width: 767px) {
	.slider-and-gallery-wrapper {
		.gallery-img-block {
			width: calc(100% + (7.5px * 2));
			margin-top: calc(25px - 7.5px);
			margin-right: -7.5px;
			margin-bottom: -7.5px;
			margin-left: -7.5px;
		}
		.gallery-img-block-item-wrapper {
			width: calc(50% - (7.5px * 2));
			margin: 7.5px;
		}
	}
}

// Image Slider and Page Content Wrapper
.slider-and-content-wrapper {
	.editor-wrapper { text-align: left; }
	&.margin { margin-top: 36px; }
}
@media (max-width: 1199px) {
	.slider-and-content-wrapper {
		&.margin { margin-top: 0; }
		//.slider-wrapper,
		.slider-and-gallery-wrapper {
			order: 2;
		}
		//.title-and-content { order: 1; }
	}
	.slider-and-content-wrapper.row {
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	  .slider-wrapper {
	  	order: 2;
	  	margin-top: 0;
	  	margin-bottom: 35px;
	  }
	  .page-title-block {
	  	order: 1;
	  	.title { margin-bottom: 30px; }
	  }
	  .page-content-block { order: 3; }
	}
}

@media (max-width: 767px) {
	.slider-and-content-wrapper.row {
		.slider-wrapper { margin-bottom: 10px; }
		.page-title-block {
			.title { margin-bottom: 10px; }
		}
	}
}

// Contacts Simple Google Maps
.contacts-map-wrapper {
	width: 606px;
	height: 403px;
	margin-right: 60px;
}

// Main Contacts Block
.main-contacts {
	.company-name,
	.main-contacts-list {
		margin-bottom: 15px;
		li { @extend .p; }
		&.company-contacts-list a { text-decoration: underline!important; }
	}
	.main-contacts-list:last-of-type { margin-bottom: 0; }
}

@media (max-width: 1199px) {
	.main-contacts {
		.company-name,
		.main-contacts-list {
			margin-bottom: 10px;
		}	
	}
}

// Map and Content Wrapper
@media (max-width: 1199px) {
	.map-and-content-wrapper {
		.contacts-map-wrapper { order: 2; }
		.title-and-content { order: 1; }
	}
}

@media (max-width: 1199px) {
	.contacts-map-wrapper {
		width: 100%!important;
		height: auto;
		padding-top: 66.5%;
		margin-top: 30px;
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	.contacts-map-wrapper { margin-top: 20px; }
}

// Image Slider Block
.slider-outer.td { padding-right: 15px; }
.slider-wrapper.big {
	width: 100%!important;
	height: auto;
	padding-top: 66.5%;
}
.slider-wrapper.with-pager {
	.lSSlideOuter {
		bottom: -33px!important;
		.lSSlideWrapper { height: calc(100% - 33px)!important; }
	}
	.lSAction { display: none!important; }
	.lSPager.lSpg {
		@extend .block-hor-c;
		transform: translateX(-50%)!important;
		top: auto;
	    bottom: 0;
	    padding-top: 21px!important;
	    padding-left: 10px;
		margin-top: 0!important;
		margin-right: -4px;
		margin-left: -4px;
		font-size: 0;
		li {
			padding-right: 4px;
			padding-left: 4px;
			font-size: 0;
			a {
				@extend .bg-default;
				width: 12px;
				height: 12px;
				transition: .1s ease-in-out;
			    transition-delay: 0s!important;
			    &:hover,
			    &:active {
			    	@extend .bg-additional;
			    }
			}
			&.active a { @extend .bg-accent-2; }
		}
	}
}
.slider-wrapper {
	width: 606px!important;
	height: 403px;
	margin-right: 60px;
	.lSSlideOuter { @extend .block-fit-parent; }
	.lSSlideWrapper {
		width: 100%;
		height: 100%;
		margin-bottom: 0;
		box-shadow: none;
		border: 0 solid transparent;
	}
	.lightslider,
	.lightslider-item {
		height: 100%!important;
	}
	.video-slide {
		.bg-img-for-mobile {
			@extend .block-fit-parent;
			@extend .fit-parent;
			opacity: 0;
			&:after { @extend .block-fit-parent; }
		}
	}
	.lSAction {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}
}

	//CSS for VIDEO in slider
.slider-wrapper {
	.lightslider-item {
		.jquery-bg-video-wrapper {
			@extend .block-fit-parent;
			@extend .fit-parent;
			@extend .section-bg;
		}
	}
}

@media ( max-width: 1199px ) {
	.slider-wrapper.with-pager {
		.lSSlideOuter {
			bottom: -23px!important;
			.lSSlideWrapper { height: calc(100% - 23px)!important; }
		}
		.lSPager.lSpg {
			padding-top: 15px!important;
			margin-right: -2.7px;
			margin-left: -2.7px;
			li {
				padding-right: 2.7px;
				padding-left: 2.7px;
				a {
					width: 8px;
					height: 8px;
				}
			}
		}
	}
	.slider-wrapper {
		.video-slide {
			.bg-img-for-mobile {
				opacity: 1;
				&:after {
					content: "";
					background-color: rgba(35,31,32,.5);
				}
			}
		}
	}
}

@media ( max-width: 767px ) {
	.slider-wrapper.with-pager {
		.lSSlideOuter {
			bottom: -18px!important;
			.lSSlideWrapper { height: calc(100% - 18px)!important; }
		}
		.lSPager.lSpg {
			padding-top: 10px!important;
		}
	}
}


// Control Arrows For Slider and Gallery
.lSAction > .lSPrev,
.lSAction > .lSNext {
	opacity: 1;
}

.lSAction > .lSPrev,
.lSAction > .lSNext,
.pswp__button.pswp__button--arrow--left,
.pswp__button.pswp__button--arrow--right {
	@extend .block-vert-c;
	width: 50px;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0!important;
	background-image: none;
}
.lSAction > .lSPrev:before,
.lSAction > .lSNext:before,
.pswp__button.pswp__button--arrow--left:before,
.pswp__button.pswp__button--arrow--right:before {
	content: '';
	@extend .block-vert-c;
	width: 40px;
	height: 40px;
	@extend .bg-default;
}
.lSAction > .lSPrev:before,
.pswp__button.pswp__button--arrow--left:before {
	left: 0;
	right: auto;
}
.lSAction > .lSNext:before,
.pswp__button.pswp__button--arrow--right:before {
	right: 0;
	left: auto;
}
.lSAction > .lSPrev:after,
.lSAction > .lSNext:after,
.pswp__button.pswp__button--arrow--left:after,
.pswp__button.pswp__button--arrow--right:after {
	//content: '';
	@extend .icon:before;
	@extend .block-vert-c;
	width: 16px;
	height: 11px;
	font-size: 11px;
	line-height: 1;
	color: #fff;
	opacity: 0.7;
}
.lSAction > .lSPrev:after,
.pswp__button.pswp__button--arrow--left:after { 
 	left: 12px;
 	@extend .icon-slide-arrow-left:before;
 }
.lSAction > .lSNext:after,
.pswp__button.pswp__button--arrow--right:after {
 	right: 12px;
 	@extend .icon-slide-arrow-right:before;
 }
.lSAction > .lSPrev,
.pswp__button.pswp__button--arrow--left {
	left: 0;
	padding-right: 10px;
}
.lSAction > .lSNext,
.pswp__button.pswp__button--arrow--right {
	right: 0;
	padding-left: 10px;
}
.lSAction > .lSPrev:hover:after,
.lSAction > .lSNext:hover:after,
.pswp__button.pswp__button--arrow--left:hover:after,
.pswp__button.pswp__button--arrow--right:hover:after {
	opacity: 1;
}

// Close Button For Gallery, Video Popup and Locations Posts
.pswp__button--close,
body .lightcase-icon-close,
#close-location {
	width: calc(18px * 2 + 23px);
	height: calc(18px * 2 + 23px);
	&:before {
		//content: '';
		@extend .block-c;
		@extend .icon:before;
		@extend .icon-close:before;
		width: 23px;
		height: 23px;
		line-height: 23px;
		font-size: 23px;		
	}
}

.pswp__button--close:before,
#close-location:before {
	@extend .default;
}
body .lightcase-icon-close:before { @extend .accent; }

.pswp__button--close:hover:before,
.pswp__button--close:active:before,
body .lightcase-icon-close:hover:before,
body .lightcase-icon-close:active:before,
#close-location:hover:before,
#close-location:active:before {
	@extend .accent-2;
}

body .lightcase-icon-close,
#close-location {
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	margin: 0;
}

#close-location { position: absolute!important; }

@media (max-width: 767px) {
	.pswp__button--close,
	body .lightcase-icon-close,
	#close-location {
		width: calc(15px * 2 + 18px);
		height: calc(15px * 2 + 18px);
		&:before {
			width: 18px;
			height: 18px;
			line-height: 18px;
			font-size: 18px;
		}
	}
}

@media (max-width: 1199px) {
	.slider-wrapper {
		width: 100%!important;
		height: auto;
		padding-top: 66.5%;
		margin-top: 30px;
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	.slider-wrapper { margin-top: 20px; }
}

// Gallery Title Block
.gallery-section-top {
	.editor-wrapper { margin-bottom: 7px; }
}
.gallery-title-block-wrapper {
	display: inline-flex;
	flex-wrap: wrap;
	.gallery-title-block {
		width: 225px;
		min-height: 45px;
		padding: 10px;
		.title { text-align: center; }
		.title:after {
			content: attr(data-hover)!important;
			@extend .block-fit-parent;
			right: auto;
			width: 0;
			transition: width 0.25s ease-in-out, opacity 0s;
			opacity: 0;
			overflow: hidden;
			white-space: nowrap;
			@extend .accent;
		}
		&:hover,
		&:active,
		&.active {
			.title:after {
				width: 100%;
				opacity: 1;
			}
		}
	}
	.gallery-title-block:before,
	.gallery-title-block:after {
		content: '';
		@extend .block-fit-parent;
		top: auto;
		height: 3px;
	}
	.gallery-title-block:before { @extend .bg-default; }
	.gallery-title-block:after { 
		right: auto;
		width: 0;
		@extend .bg-accent;
		@extend .z-6;
		transition: width 0.25s ease-in-out;
	}
	.gallery-title-block:hover:after,
	.gallery-title-block:active:after,
	.gallery-title-block.active:after {
		width: 100%;
	}
}
.gallery-title-mobile {
	display: none;
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}

@media (max-width: 1199px) {
	.gallery-section-top {
		.editor-wrapper { margin-bottom: 0; }
	}
	.gallery-title-block-wrapper {
		display: flex;
		.gallery-title-block {
			width: calc(100% / 3);
		}
	}
}

@media (max-width: 767px) {
	.gallery-title-block-wrapper { display: none!important; }
	.gallery-title-mobile { display: block; }
}

// Gallery Image Block Wrapper
.gallery-page-img-block-wrapper {
	display: none;
	&.active { display: block; }
	.gallery-page-img-block {
		width: calc(100% + (15px * 2));
		margin: -15px;
		.gallery-page-img-block-item-outer {
			width: calc(25% - (15px * 2));
			margin: 15px;
			font-size: 0;
		}
		.gallery-page-img-block-item {
			width: 100%;
			padding-top: 66.5%;
			@extend .text-decor-none;
			@extend .z-6;
			&>img,
			&>div {
				@extend .z--1;
			}
		}
		.gallery-page-img-block-item:before,
		.gallery-page-img-block-item:after {
			transition: opacity 0.25s ease-in-out;
		}
		.gallery-page-img-block-item:before {
			content: '';
			@extend .block-fit-parent;
			background-color: rgb(35,31,32);
			opacity: 0;
		}
		.gallery-page-img-block-item:after {
			//content: '';
			@extend .icon:before;
			@extend .icon-center:before;
			@extend .block-c;
			width: 30px;
			height: 30px;
			font-size: 30px;
			@extend .accent;
			opacity: 0;
		}
		.gallery-page-img-block-item:hover:before,
		.gallery-page-img-block-item:active:before {
			opacity: 0.5;
		}
		.gallery-page-img-block-item:hover:after,
		.gallery-page-img-block-item:active:after {
			opacity: 1;
		}
	}
}

@media (max-width: 1199px) {
	.gallery-page-img-block-wrapper {
		.gallery-page-img-block {
			.gallery-page-img-block-item-outer {
				width: calc(50% - (15px *2));
			}
		}
	}
}

@media (max-width: 767px) {
	.gallery-page-img-block-wrapper {
		display: block;
		.load-more,
		.load-more-multiple {
			display: none;
		}
		.gallery-page-img-block {
			width: 100%;
			margin: 0;
			.gallery-page-img-block-item-outer {
				width: 100%;
				margin: 0;
			    position: absolute;
			    opacity: 0;
			    pointer-events: none;
			    .gallery-page-img-block-item {
			    	&:before,
			    	&:after {
			    		content: none;
			    	}
			    }
			    &:first-of-type {
				    position: initial;
				    opacity: initial;
				    pointer-events: initial;  
			    }
			}
		}
	}
}

// Who We Are Block
.who-we-are-wrapper {
	margin-top: 90px;
	@extend .margin-bottom-big;
	width: 526px;
	.title { margin-bottom: 32px; }
	.btn { margin-top: 42px; }
}

@media (max-width: 1199px) {
	.who-we-are-wrapper {
		width: 100%;
		margin-top: 30px;
		.title { margin-bottom: 22px; }
		.btn { margin-top: 32px; }
	}
}

@media (max-width: 767px) {
	.who-we-are-wrapper {
		margin-top: 18px;
		.title { margin-bottom: 10px; }
		.btn { margin-top: 20px; }
	}
}

// Advanced Google Maps
.advanced-google-maps-wrapper {
	//width: calc(100% - 525px + 110px);
	//margin-left: -110px;
	@extend .block-fit-parent;
	.gradient {
		position: absolute;
		//z-index: 6;
	}
	.gradient-top {
		top: -1px;
		right: 0;
		left: 0;
		width: 100%;
		height: 76px;
		background: scrim-gradient(
		    to bottom,
		    #fff,
		    transparent
	  	);
	}
	.gradient-bottom {
		right: 0;
		bottom: -1px;
		left: 0;			
		width: 100%;
		height: 76px;
		background: scrim-gradient(
		    to top,
		    #fff,
		    transparent
	  	);			
	}
	.gradient-left-wrapper {
		top: -1px;
		bottom: -1px;
		width: 1px;
		z-index: 6;
	}
	@media (min-width: 1362px) {
		.gradient-left-wrapper { left: calc((100% - 1302px) / 2); }	
	}
	@media (max-width: 1361px) {
		.gradient-left-wrapper { left: calc((100% - 1170px) / 2); }	
	}

	.gradient-left {
		top: 0;
		bottom: 0;
		left: 415px;
		width: 100vw;
		transform: translateX(-100%);
		background: #fff;
	}
	.gradient-left:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 1px;
		transform: translateX(100%);
		width: 180px;
		background: scrim-gradient(
		    to right,
		    #fff,
		    transparent
	  	);
	  	z-index: 9;			
	}	
	.acf-map {
		@extend .block-fit-parent;
		@extend .fit-parent;
		.gm-style-pbc,
		.gm-style-pbc .gm-style-pbt {
			display: none!important;
		}
		.gm-bundled-control-on-bottom {
			bottom: 100px!important;
			&>div { transform: translateY(-100%)!important; }
		}
		img, .img {
			max-height: none!important;
		}
		#markerLayer > div {
			overflow: visible!important;
			&:first-child:before,
			&:first-child:after {
					content: none;
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				display: block;
				top: auto;
				right: auto;
				left: 5.65px;
				bottom: 0;
				width: 23.7px;
				height: 23.7px;
				background: rgba(white, 0.4);
				border-radius: 50%;
				opacity: 0;
				z-index: -1;
			}
			&:before {
				transform: scale(1);
				animation: pulse 2s infinite linear;
			}
			&:after {
				animation: pulse 2s 1s infinite linear;
			}
			@keyframes pulse {
			  0% {
			    transform: scale(1);
			    opacity: 0;
			  }
			  33% {
			    transform: scale(1.67);
			    opacity: 1;
			  }
			  100% {
			    transform: scale(2.3);
			    opacity: 0;
			  }
			}
		}
	}
}
.who-we-are-map-section { min-height: 834px; }
.page-template-page-about-us .advanced-google-maps-wrapper {
	position: relative;
	height: 800px;
	margin-bottom: -36px;
	.gradient-left,
	.gradient-bottom {
		display: none;
	}
}

@media (max-width: 1199px) {
	.advanced-google-maps-wrapper,
	.page-template-page-about-us .advanced-google-maps-wrapper {
		position: relative;
		height: 638px;
		.gradient-top { height: 58px; }
		.gradient-bottom { height: 58px; }
		.gradient-left { display: none; }
	}
}

// About Us Section
.about-us-section {
	.editor-wrapper { margin-bottom: 35px; }
}

// Locations Item Style
.single-locations_posts {
	#site-header,
	#site-footer {
		display: none;
	}
	#site-content {
		width: 100vw;
		height: 100%;
		padding-top: 36px;
	}
	#next-post {
		@extend .block-vert-c;
		right: 0;
		width: 74px;
		height: 84px;
		padding: 10px 0 10px 10px;
		&>a {
			@extend .block-fit-parent;
			&:before {
				content: '';
				@extend .block-vert-c;
				right: 0;
				left: auto;
				width: 64px;
				height: 64px;
				@extend .bg-default;
			}
			&:after {
				//content: '';
				@extend .icon:before;
				@extend .icon-slide-arrow-right:before;
				@extend .block-vert-c;
				left: calc(50% + 10px * 0.5);
				transform: translate(-50%,-50%);
				right: auto;
				width: 25.6px;
				height: 18px;
				font-size: 18px;
				line-height: 1;
				color: #fff;
				opacity: 0.7;
			}
		}
	}
	#next-post:hover,
	#next-post:active {
		&>a:after { opacity: 1; }
	}	
}
.location-section.table {
	padding-top: 33px;
	padding-bottom: 33px;
}
.location-info-wrapper {
	.td { vertical-align: middle!important; }
	.location-text-inner {
		width: 100%;
		padding-right: 100px;
		padding-left: 125px;
		margin-bottom: 25px;
		h1.title { margin-bottom: 15px; }
		.editor-wrapper { max-width: 526px; }
	}
}

@media (max-width: 1361px) {
	.location-info-wrapper {
		.location-text-inner {
			margin-bottom: 25px;
			padding-left: 55px;
		}
	}
}

@media (max-width: 1199px) {
	.single-locations_posts {
		#site-content {
			padding-top: 83px;
			padding-bottom: 100px;
		}
		#next-post {
			position: fixed;
			top: auto;
			right: 0;
			bottom: 0;
			left: 0;
			transform: none;
			width: 100vw;
			height: 74px;
			padding: 10px 0 0 0;
			&>a {
				&:before {
					content: '';
					top: 10px;
					right: 0;
					bottom: 0;
					left: 0;
					transform: none;
					width: 100vw;
					height: 64px;
				}
				&:after {
					//content: '';
					top: calc(50% + 10px * 0.5);
					left: 50%;
					transform: translate(-50%,-50%);
					right: auto;
				}
			}
		}
	}
	.location-section.table,
	.location-info-wrapper.tr {
		display: block;
	}
	.location-section.table {
		padding-top: 0;
		padding-bottom: 0;
	}
	.location-info-wrapper{
		&>.td {
			display: block;
			max-width: 100%;
			width: 100%;
		}
		.slider-outer {
			padding-right: 0;
			padding-bottom: 23px;
			.slider-wrapper.big { margin-top: 0; }
		}
		.location-text-wrapper {
			margin-top: 30px;
			.location-text-inner {
				padding-right: 66px;
				padding-left: 66px;
				margin-bottom: 0;
				.editor-wrapper { max-width: 100%; }
				h1.title { margin-bottom: 10px; }				
			}
		}
	}
}

@media (max-width: 767px) {
	.single-locations_posts {
		#site-content {
			padding-top: 58px;
			padding-bottom: 65px;
		}
		#next-post {
			height: 58px;
			padding: 10px 0 0 0;
			&>a {
				&:before {
					height: 48px;
				}
				&:after {
					width: 19.2px;
					height: 13.5px;
					font-size: 13.5px;
				}
			}
		}
	}
	.location-info-wrapper{
		.slider-outer { padding-bottom: 18px; }
		.location-text-wrapper {
			margin-top: 20px;
			.location-text-inner {
				padding-right: 30px!important;
				padding-left: 30px!important;
				margin-bottom: 0;
			}
		}
	}
}

// Title and Content Blocks
.title-and-content,
.page-title-block,
.page-content-block {
	width: calc(100% - 606px - 60px);
}
.title-and-content,
.page-title-block {
	.title-block {
		width: auto;
		padding: 10px 38px;
		margin-bottom: 25px;
		min-width: 200px;
		h1.title {
			text-align: center;
			vertical-align: middle;
			color: #fff;
		}
	}
}
.page-title-block {
	.date-and-title {
		margin-bottom: 15px;
		.news-post-date {
			line-height: 1;
		}
	}
}

@media(max-width: 1199px) {
	.page-title-block {
		.date-and-title {
			margin-bottom: 30px;
			.title { margin-bottom: 0!important; }
		}
	}
}

@media(max-width: 767px) {
	.page-title-block {
		.date-and-title {
			margin-bottom: 10px;
		}
	}
}

.share-buttons {
	margin-top: calc(20px - 10px);
	margin-right: -10px;
	margin-bottom: -10px;
	margin-left: -10px;
	.social-btn {
		height: 30px;
		line-height: 30px;
		border-radius: 3px;
		color: #fff;
		@extend .text-decor-none;
		font-weight: 500;
		font-size: 12px;
		padding: 0 10px 0 28px;
		margin: 10px;
	}
	.social-btn:before {
		//content: '';
		@extend .icon:before;
		@extend .block-vert-c;
		left: 8px;
		color: #fff; 
	}
	.social-btn:hover { opacity: 0.8; }
	.twitter-share-btn {
		background-color: #00acee;
		&:before {
			@extend .icon-tweet-share:before;
			font-size: 13px;
		}
	}
	.fb-share-btn {
		background-color: #3b5998;
		&:before {
			@extend .icon-fb:before;
			font-size: 14px;
		}
	}
}

@media (max-width: 1199px) {
	.title-and-content,
	.page-title-block,
	.page-content-block {
		width: 100%;
	}
	.title-and-content,
	.page-title-block {
		margin-top: 35px;
		.title-block { margin-bottom: 15px; }
	}
}

@media (max-width: 767px) {
	.title-and-content,
	.page-title-block {
		margin-top: 25px;
	}
}

// Content Width Video
.no-autoplay { opacity: 1!important; }
.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 84px;
	height: 84px;
	border-radius: 50%;
	background-color: rgb(0,0,0);
	opacity: 0.5;
	transition: opacity 0.1s ease-in-out;
}
.btn-play:before {
	//content: '';
	@extend .icon:before;
	@extend .icon-play:before;
	@extend .block-vert-c;
	left: 34px;
	right: auto;
	width: 25px;
	height: 34px;
	font-size: 34px;
	line-height: 1;
	color: #fff;
}
.btn-play:hover,
.btn-play:active {
	opacity: 0.8;
}
.cw-video-wrapper {
	width: 100%;
	padding-top: 42.5%;
	margin-top: 40px;
}
.video-play:hover,
.video-play:active {
	cursor: pointer!important;
	& + .btn-play { opacity: 0.8; }
}

@media (max-width: 767px) {
	.cw-video-wrapper { margin-top: 25px; }
}

// Widget Block
.widget-block {
	@extend .default;
}
