//FONTS
@font-face {
    font-family: 'Calibri';
    src: url('fonts/Calibri-Light.eot');
    src: url('fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Calibri-Light.woff') format('woff'),
        url('fonts/Calibri-Light.ttf') format('truetype'),
        url('fonts/Calibri-Light.svg#Calibri-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('fonts/Calibri.eot');
    src: url('fonts/Calibri.eot?#iefix') format('embedded-opentype'),
        url('fonts/Calibri.woff') format('woff'),
        url('fonts/Calibri.ttf') format('truetype'),
        url('fonts/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

p, .p, body {
  font-family: 'Calibri', 'Source Sans Pro', serif, sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.39;
}
h6, .h6 {
  font-family: 'Calibri', 'Source Sans Pro', serif, sans-serif;
  font-size: 23px;
  //font-size: 24px;
  font-weight: 400;
  //line-height: 1.39;
  line-height: 1.2;
}
h5, .h5 {
  font-family: 'Calibri', 'Source Sans Pro', serif, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.08;
}
h4, .h4 {
  font-family: 'Calibri', 'Source Sans Pro', serif, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  //color: #fff;
}
h3, .h3 {
  font-family: 'Calibri', 'Source Sans Pro', serif, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  //color: #fff;
}
h2, .h2 {
  font-family: 'Calibri', 'Source Sans Pro', serif, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}
h1, .h1 {
  font-family: 'Calibri', 'Source Sans Pro', serif, sans-serif;
  font-size: 41px;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width: 1199px) {
  h4, .h4 { font-size: 28px; }
  h2, .h2 { font-size: 23px; }
  h1, .h1 { font-size: 36px; }
}

@media (max-width: 767px) {
  p, .p, body { font-size: 18px; }
  h4, .h4 { font-size: 26px; }
  h2, .h2 { font-size: 21px; }
  h1, .h1 { font-size: 30px; }
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n5jgm5');
  src:  url('fonts/icomoon.eot?n5jgm5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n5jgm5') format('truetype'),
    url('fonts/icomoon.woff?n5jgm5') format('woff'),
    url('fonts/icomoon.svg?n5jgm5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?32hikc');
  src:  url('fonts/icomoon.eot?32hikc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?32hikc') format('truetype'),
    url('fonts/icomoon.woff?32hikc') format('woff'),
    url('fonts/icomoon.svg?32hikc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mml4lz');
  src:  url('fonts/icomoon.eot?mml4lz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mml4lz') format('truetype'),
    url('fonts/icomoon.woff?mml4lz') format('woff'),
    url('fonts/icomoon.svg?mml4lz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon:before,
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-popup-play:before {
  content: "\e912";
  color: #f6c55b;
}
.icon-directions:before {
  content: "\e911";
  color: #e2231a;
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
  color: #fff;
}
.icon-bc-arrow:before {
  content: "\e902";
  color: #787c82;
}
.icon-center:before {
  content: "\e903";
  color: #f8c853;
}
.icon-cf-close:before {
  content: "\e904";
}
.icon-cf-open:before {
  content: "\e905";
  color: #fff;
}
.icon-close:before {
  content: "\e906";
}
.icon-error:before {
  content: "\e907";
  color: #db1915;
}
.icon-fb:before {
  content: "\e908";
  color: #c2c0c2;
}
.icon-instagram:before {
  content: "\e909";
  color: #c2c0c2;
}
.icon-linkedin:before {
  content: "\e90a";
  color: #c2c0c2;
}
.icon-play:before {
  content: "\e90b";
  color: #fff;
}
.icon-slide-arrow-left:before {
  content: "\e90c";
  color: #fff;
}
.icon-slide-arrow-right:before {
  content: "\e90d";
  color: #fff;
}
.icon-success:before {
  content: "\e90e";
  color: #26ab67;
}
.icon-tweet-share:before {
  content: "\e90f";
  color: #fff;
}
.icon-youtube:before {
  content: "\e910";
  color: #c2c0c2;
}



//END OF FONTS